{% extends "eduworld/layoutLOG.html" %}
{% load static %}
    <link rel="stylesheet" href="{% static 'eduworld/styles.css' %}">

{% block body %}

  {% if message %}
    <div class="alert alert-{{tipo}}" role="alert">
      <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            {{ message }}
      </div>
  {% endif %}

{% if proibido %}
  <div class="container-fluid" style="padding-top:10px;">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
              <img alt ="404" id="not_found" src="https://stories.freepiklabs.com/storage/42261/403-error-forbidden-rafiki-2844.png">
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="container-fluid" style="padding-top:10px;">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            {% if not_found %}
              <img alt ="404" id="not_found" src="https://www.artzstudio.com/content/images/wordpress/2020/05/404-error-not-found-page-lost.png">
            {% else %}
            <div class="row">
              <div class="col-sm-3">
                <div class="d-flex justify-content-center">
                  <a  href="{% url 'classroom' classid %}" class="classe">
                    <span class="data_menu">
                      <i style="font-size:15px;" class="fa fa-chevron-left" aria-hidden="true"></i>
                      <span style="font-size:18px;"> Back to class</span><br>
                    </span>
                  </a>
                </div>
              </div>
            </div>

              <div class="container bootstrap snippets bootdey">
                  <div class="col-sm-8">
                      <div class="panel panel-white post panel-shadow">

                          <div class="post-heading">
                              <div class="pull-left image">
                                  <img src="/media/{{foto}}" class="img-circle avatar" alt="user profile image">
                              </div>
                              {% for item in post_info %}
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <a href="{% url 'profile' item.dono_id %}" target="_blank"><b>{{nome}}</b></a>
                                    </div>
                                    <h6 class="text-muted time">{{item.data}}</h6>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>{{item.post_text | safe}}</p>
                                <div class="stats">

                                    {% if dono %}
                                    <form action="{% url 'deletepost' pk classid %}" method="post" style="padding-bottom:10px;">
                                      {% csrf_token %}
                                      <input type="submit" class="btn btn-danger btn-sm" value="Delete"></input>
                                    </form>

                                  {% endif %}
                                  &nbsp;
                                <i class="mdi mdi-comment mr-1"></i>{{item.reply_count}}
                                {% endfor %}
                                </div>
                          </div>

                          <div class="post-footer">
                            <!-- ///////////////////////////////////////////////////////////////////// -->
                             <!-- <form method="post" action="{% url 'addcomment' %}"> -->

                            <form method="post" action="{% url 'addcomment' %}">
                              {% csrf_token %}
                              <div class="input-group">
                                  <input class="form-control" placeholder="Add a comment" type="text" name="comentario" autocomplete="off">
                                  <span class="input-group-addon">
                                      <button type="submit" value="{{classid}}, {{pk}}" id="newcomment" name="botao"><i class="fa fa-edit" style="font-size:20px;"></i></button>
                                  </span>
                              </div>
                            </form>
                              <!-- ///////////////////////////////////////////////////////////////////// -->
                              <ul class="comments-list">
                                {% if replies %}
                                {% for reply in replies %}
                                <!-- BLOCK COMMENT -->
                                  <li class="comment">
                                    <!-- comment start -->
                                      <a class="pull-left" target="_blank" href="{% url 'profile' reply.dono_id %}">
                                          <img class="avatar" src="/media/{{reply.foto}}" alt="avatar">
                                      </a>
                                      <div class="comment-body">
                                          <div class="comment-heading">
                                              <h4 class="user">{{reply.nome}}</h4>
                                              <h5 class="time">{{reply.data}}</h5>
                                          </div>
                                          <p>{{reply.text}}</p>
                                      </div>
                                      <!-- comment end -->
                                  </li>
                                  <!-- BLOCK COMMENT -->
                                  {% endfor %}
                                  {% endif %}
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}


<style>
  .apagado
  {
    display:none;
  }
</style>


{% endblock %}

{% block script %}
    <script src="{% static 'eduworld/classePOST.js' %}"></script>
{% endblock %}