{% extends "eduworld/layout.html" %}
{% load static %}
    <link rel="stylesheet" href="{% static 'eduworld/styles.css' %}">
{% block body %}


    {% if message %}
    <div class="alert alert-{{tipo}}" role="alert">
        <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endif %}

    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="static/eduworld/logotipo.png" class="img-fluid" alt="logo">
            </div>



            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="{% url 'login' %}" method="post">

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 grande" style="font-size:1em;">Sign in to EduWorld</p>
                      </div>
                    {% csrf_token %}
                <div class="form-outline mb-4">
                    <input autofocus class="form-control form-control-lg" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-outline mb-3">
                  <input class="form-control form-control-lg" type="password" name="password" placeholder="Password">
                </div>
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <input class="btn btn-primary btn-lg cor" type="submit" value="Login" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                    <style>
                      .cor
                      {
                          background-color:#38b6ff;
                          border:0;
                      }
                    </style>
                    <p class="small fw-bold mt-2 pt-1 mb-0 medio">Don't have an account? <a href="{% url 'register' %}"
                      class="link-danger">Register</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

{% endblock %}

{% block script %}
    <script src="{% static 'eduworld/login.js' %}"></script>
{% endblock %}