    <div class="input-group" style="text-align:center; display: inline;">
        <h5>{{totalcoments}} private comment{{ totalcoments|pluralize }}</h5>
    </div>

<ul class="comments-list">

    {% if coment_info %}
    {% for comment, nome, foto in coment_info %}
    <!-- BLOCK COMMENT -->
      <li class="comment">
        <!-- comment start -->
          <div class="pull-left">
              <img class="avatar" src="/media/{{foto}}" alt="avatar">
          </div>
          <div class="comment-body">
              <div class="comment-heading">
                  <h4 class="user">{{nome}}</h4>
                  <h5 class="time">{{comment.data}}&nbsp;&nbsp;<span style="color:green; text-decoration:underline;" class="apagado" id="{{comment.id}}-info"></span></h5>
              </div>

              <p class="commentbody" id="{{comment.id}}-comentario">{{comment.texto}}</p>

              <form class="privateComment apagado" id="{{comment.id}}-formulario">
                <div class="input-group">
                    <input class="form-control" type="text" name="novocomentario" autofocus id="{{comment.id}}-novoreply" autocomplete="off">
                    <input class="form-control apagado" type="text" value="{{pk}}" id="{{comment.id}}-pk">
                    <span class="input-group-addon">
                        <button type="submit" value="{{comment.id}}" name="cmtprivate"  style="font-size:12px;" class="btn btn-success btn-sm btnrpley">Reply</button>
                        <button style="font-size:12px;" class="btn btn-danger btn-sm cancelar" value="{{comment.id}}" id="{{comment.id}}-cancelar">Cancel</button>
                    </span>
                </div>
            </form>

              <form method="" action="" id="{{comment.id}}-reply">
                <button type="submit" name="editar" value="{{comment.id}}" class="btn btn-secondary btn-sm reply" data-sid=""><i class="mdi mdi-reply"></i> Reply student</button>
              </form>

              <div id="{{comment.id}}-NEWCOMMENTS"></div>

              {% if comment.has_reply %}
              {% for reply in replies %}
              {% if reply.coment_inicial_id == comment.id %}
              <div class="media-block" style="padding-top:10px;" id="resposta-{{reply.id}}">
                <div class="media-body">
                    <div class="comment-heading" id="heading-{{reply.id}}">
                        <h4 class="user">You:</h4>
                        <h5 class="time">&nbsp;&nbsp;{{reply.data}}<span style="color:green; text-decoration:underline;" class="apagado"></span></h5>
                    </div>
                  <p id="texto-{{reply.id}}">{{reply.texto}}</p>
                  <div class="pad-ver" id="deletar-{{reply.id}}">
                    <div class="btn-group">
                        <button style="font-size:12px; padding:3px;" class="btn btn-danger btn-sm deletar" value="{{reply.id}}" id="del-{{reply.id}}">Delete</button>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}

          </div>
          <!-- comment end -->
      </li>
      <!-- BLOCK COMMENT -->
      {% endfor %}
      {% endif %}
</ul>


<script>
    var c = document.querySelectorAll(".reply");
    var cancelar = document.querySelectorAll(".cancelar");

    c.forEach(function(cm){
        cm.addEventListener('click', function(e) {
            e.preventDefault();
            let formulario = document.getElementById(`${this.value}-formulario`)
            let reply = document.getElementById(`${this.value}-reply`)
            formulario.classList.remove("apagado");
            reply.classList.add("apagado");
            });
    });


    $('.btnrpley').click(function (e){
        e.preventDefault();
        console.log(this.value); // id do post a ser respondido

        let novoreply = $(`#${this.value}-novoreply`).val();
        console.log(novoreply); // novo reply

        let id = this.value;

        let pk = $(`#${this.value}-pk`).val();
        console.log(pk); // novo reply


        $.ajax({
            type: 'POST',
            url: `/replycomment`,
            data: {
                postid: id,
                novoreply: novoreply,
                pk: pk,
                action: 'post'
            },

            success: function(data){
                console.log('oka')
                day = data.date
                reply = data.reply
                id = data.id
                replyid = data.replyid
                if(data.status == 'saved')
                {
                    var linha = document.createElement('div');
                    linha.innerHTML = `
                    <div class="media-block" style="padding-top:10px;" id="resposta-${replyid}">
                <div class="media-body">
                    <div class="comment-heading" id="heading-${replyid}">
                        <h4 class="user">You:</h4>
                        <h5 class="time">&nbsp;&nbsp;${day}<span style="color:green; text-decoration:underline;" class="apagado"></span></h5>
                    </div>
                  <p id="texto-${replyid}">${reply}</p>
                  <div class="pad-ver" id="deletar-${replyid}">
                    <div class="btn-group">
                        <button style="font-size:12px; padding:3px;" class="btn btn-danger btn-sm deletar" value="${replyid}" id="del-${replyid}">Delete</button>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            `
                }
                var element = document.getElementById(`${id}-NEWCOMMENTS`);
                element.insertBefore(linha, element.firstChild);
                $(`#${id}-formulario`)[0].reset();
            }
        });

    });


    $('.deletar').click(function (){
        console.log(this.value); // id da resposta
        let id = this.value;
        $.ajax({
            type: 'POST',
            url: `/deletereply`,
            data: {
                replyid: id,
                action: 'post'
            },

            success: function(data){
                console.log('oka')
                replyid = data.replyid

                let resposta = document.getElementById(`resposta-${replyid}`)
                resposta.classList.add("apagado");
            }
        });
    });

</script>
